.features {
}

.features-title {
}

.features-list {
}
.features-item {
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
.features-text {
}
